#customTab2 {
  h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #303030;
  }
  p {
    margin-bottom: 15px;
    color: #303030;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  ul {
    margin-bottom: 15px;
    li {
      list-style: inside;
      color: #303030;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
