#errorPage {
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonEach {
  display: flex;
  column-gap: 10px;
}
#errorPage .goToHomepage .fas,
.fa-solid {
  color: white;
  font-size: 14px;
  margin-right: 8px;
}
@media only screen and (max-width: 767px) {
  #errorPage .textH4 {
    color: #303030;
    font-size: 18px;
  }
  #errorPage .textP {
    color: #303030;
    font-size: 14px;
  }
  #errorPage .goToHomepage {
    color: white;
    font-size: 8px;
    font-weight: 400;
  }
  #errorPage .goToHomepage .fas,
  .fa-solid {
    color: white;
    font-size: 8px;
    margin-right: 8px;
  }
}
.error404 #main-wrapper {
  width: 100%;
}
.error404 #sidebar-wrapper {
  display: none;
}
.errorWrap {
  color: #444444;
  text-align: center;
  padding: 60px 0;
  width: 50%;
  margin: 0 auto;
}
.errorWrap h3 {
  font-size: 160px;
  line-height: 1em;
  margin: 0 0 20px;
}
.errorWrap h4 {
  font-size: 25px;
  margin: 0 0 20px;
}
.errorWrap p {
  margin: 0 0 10px;
}
.errorWrap a {
  display: inline-block;
  height: 32px;
  background-color: #303030;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 32px;
  padding: 0 20px;
  margin: 15px 0 0;
  border-radius: 4px;
  transition: ease-in-out 0.3s all;
  cursor: pointer;
}
.errorWrap a:hover {
  background-color: #ff4136;
  color: #fff;
}
.wheel {
  animation: wheel-rotate 6s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes wheel-rotate {
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  100% {
    transform: rotate(960deg);
  }
}
.clock-hand-1 {
  animation: clock-rotate 3s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
.clock-hand-2 {
  animation: clock-rotate 6s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes clock-rotate {
  100% {
    transform: rotate(360deg);
  }
}
#box-top {
  animation: box-top-anim 2s linear infinite;
  transform-origin: right top;
  transform-box: fill-box;
}
@keyframes box-top-anim {
  50% {
    transform: rotate(-5deg);
  }
}
#umbrella {
  animation: umbrella-anim 6s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes umbrella-anim {
  25% {
    transform: translateY(10px) rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
#cup {
  animation: cup-rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  transform-origin: top left;
  transform-box: fill-box;
}
@keyframes cup-rotate {
  50% {
    transform: rotate(-5deg);
  }
}
#pillow {
  animation: pillow-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes pillow-anim {
  25% {
    transform: rotate(10deg) translateY(5px);
  }
  75% {
    transform: rotate(-10deg);
  }
}
#stripe {
  animation: stripe-anim 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes stripe-anim {
  25% {
    transform: translate(10px, 0) rotate(-10deg);
  }
  75% {
    transform: translateX(10px);
  }
}
#bike {
  animation: bike-anim 6s ease infinite;
}
@keyframes bike-anim {
  0% {
    transform: translateX(-1300px);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  100% {
    transform: translateX(1300px);
  }
}
#rucksack {
  animation: ruck-anim 3s linear infinite;
  transform-origin: top;
  transform-box: fill-box;
}
@keyframes ruck-anim {
  50% {
    transform: rotate(5deg);
  }
}
.error_page .circle {
  animation: circle-anim ease infinite;
  transform-origin: center;
  transform-box: fill-box;
  perspective: 0;
}
.error_page .circle.c1 {
  animation-duration: 2s;
}
.error_page .circle.c2 {
  animation-duration: 3s;
}
.error_page .circle.c3 {
  animation-duration: 1s;
}
.error_page .circle.c4 {
  animation-duration: 1s;
}
.error_page .circle.c5 {
  animation-duration: 2s;
}
.error_page .circle.c6 {
  animation-duration: 3s;
}
@keyframes circle-anim {
  50% {
    transform: scale(0.2) rotateX(360deg) rotateY(360deg);
  }
}
.four,
#ou {
  animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}
.four.a {
  transform-origin: bottom left;
  animation-duration: 3s;
  transform-box: fill-box;
}
.four.b {
  transform-origin: bottom right;
  animation-duration: 3s;
  transform-box: fill-box;
}
#ou {
  animation-duration: 6s;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes four-anim {
  50% {
    transform: scale(0.98);
  }
}
.cls-1 {
  fill: #ffc541;
}

.cls-2 {
  fill: #ff4136;
}

.cls-3 {
  fill: #dc2d24d3;
}

.cls-4 {
  fill: #f78d5e;
}

.cls-5 {
  fill: #fa976c;
}

.cls-6,
.cls-7,
.cls-8 {
  fill: #706058;
}

.cls-10,
.cls-6 {
  opacity: 0.6;
}

.cls-7 {
  opacity: 0.4;
}

.cls-9 {
  fill: #f4b73b;
}

.cls-11 {
  fill: #f9c358;
}

.cls-12 {
  fill: #9b462c;
}

.cls-13 {
  fill: #aa512e;
}

.cls-14 {
  fill: #7d6aa5;
}
