#thirdSection {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  :root {
    --swiper-theme-color: #999999;
  }
  :root {
    --swiper-navigation-size: 44px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    visibility: visible;
    width: 20%;
   
  }
}
